[submodule "shuiwustatic"]
	path = shuiwustatic
	url = git@github.com:adam139/shuiwustatic.git
[submodule "xtcs"]
	path = xtcs
	url = git@github.com:adam139/xtcs.git
[submodule "qyxycjh"]
	path = qyxycjh
	url = git@github.com:adam139/qyxycjh.git
