.plonesite {
background:transparent url('http://images.315ok.org/lonsunn/bodybg2.png') repeat-x 0 0;}
#header {
background-color:transparent;
}
#tools {margin-top:-99px;}
#fg-base-edit input {margin:0 10px}
#logo_alt a {display: inline-block;float:right;
    margin: 33px 0 10px 0;}
#portal-logo {display: inline-block;
    margin: 0.5em 0 10px 0;}
#portal-languageselector li {padding-right:10px;}
#portal-languageselector li.language-zh-cn {padding-left:10px;}
#portal-searchbox {background:transparent url('http://images.315ok.org/lonsunn/searchbg.gif') no-repeat 0 0;
height: 41px;
margin-top:0;
margin-bottom:0;
width: 307px;}
#searchGadget {
    border: medium none;
    height: 20px;
    margin: 8px 24px 0;
    width: 174px;
}
.searchSection {display:none;}
#portal-globalnav {background:transparent url('http://images.315ok.org/lonsunn/menubg_repeat.png') repeat 0 0;
margin:0;
border-color: #808080;
border-style: none solid;
border-width: 1px;
width:651px;
height:41px;
}
#portal-globalnav li a {
font-size:16pt;
color:#fff;
background:transparent;
border:none;
padding:5px 10px;
min-width:5em;
}

#portal-globalnav li .submenu a {font-size:11pt;}
ul.submenu {
    position: absolute;
    width: 15em;
    left:-999em;
    background: #415FB8;
    border-width: 1px;
    border-style: none solid solid solid;
    margin:0;
}
#portal-globalnav li.selected ul.submenu a:hover {
    background-color:transparent;
}
#portal-globalnav li  ul.submenu a.state-published,#portal-globalnav li  ul.submenu a.state-private, #portal-globalnav ul.submenu a:hover {
    border-color: #808080;
     border-width:1px;
     display: block;
    margin: 0;
    color:#fff !important;
    position: static !important;
    white-space: normal;
}
#portal-globalnav .selected a {background:transparent;}
#portal-globalnav .selected a:hover,#portal-globalnav a:hover {background:transparent;color:red;}
#content {line-height: 1.5;}
#content dd {
    margin: 0 0 1em 1em;
}


.managePortletsLink,#collage .documentFirstHeading,#portal-colophon,#portal-siteactions {display:none}
#portal-column-one dl.portlet {font-size:11pt;}
#portal-column-two,#portal-column-one {margin-top:30px;}
#collage dl.portlet  a:link,#portal-column-two dl.portlet  a:link{border-bottom:none;}
#collage .row_1 .one-column .block_1 {height:350px}

#innerslider{
border:medium none;
height:300px !important;
list-style-type:none;
margin-right:auto;
position:relative;
width:678px;
}
#innerslider .img {
width:335px;
float:right;
position:relative;
margin-top:0;
margin-left:0;

}
#innerslider .img li {
left:0;
top:0;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
position:absolute;
}
#innerslider .img li a img{
width:300px;
}
#innerslider .panel {
background-color:transparent;
border-top:none;
height:40px;
position:relative;
width:300px;
z-index:10;
display:none;
}
#innerslider .num {
float:left;
bottom:0;
position:absolute;
left:450px;
padding:0;
margin:0;
z-index:3;
}
#innerslider .num li.over .numVal {
background-color:#FFB900;
border-color:#FDE59D;
}
#innerslider .num li {
background-color:#095BAD;
border:1px solid #095BAD;
display:inline;
float:left;
margin:0 1px;
width:20px;
}
#innerslider .num li .numVal {
background-color:#aaa;
display:block;
text-align:center;
}

dl.portlet #innerslider  a.title:link {
color:#000;
font-size:20pt;
position:relative;
text-decoration:none;
padding-left:1em;
}

.row_2 .portlet {
background:transparent url('http://images.315ok.org/lonsunn/portletbg.png') no-repeat 0 0;
height: 300px;
width: 210px;
}
.row_2  dl.portlet dd {margin-left:0;}
.row_2  dl.portlet dt {
background: none repeat scroll 0 0 transparent;
font-size: 16pt;
color:#000;
padding-top: 20px;
text-align: center;}

.row_2 .portletFooter a span {color:#fa871a;}
.row_2 .block_2 dl.portlet {margin:0 2px;}
.row_2 .block_1 .content_bg {
background:transparent url('http://images.315ok.org/lonsunn/product_portlet_bg.gif') repeat 0 0;
height:70px;
width:175px;
}
.row_2 .block_2 .content_bg {background:transparent url('http://images.315ok.org/lonsunn/news_portlet_bg.gif') repeat 0 0;
height:70px;
width:175px;
}
.row_2 .block_3 .content_bg {background:transparent url('http://images.315ok.org/lonsunn/tech_portlet_bg.png') repeat 0 0;
height:70px;
width:175px;
}
#portal-column-two .top {margin-bottom:12px;}
#portal-column-two .bottom {margin-top:32px;}
#portal-column-two .portletHeader {display:none;}
#portal-column-two li {font-size:100%;}
.template-manage-portlets #portal-column-two .portletHeader {display:block;}
#portal-column-two .portlet,#portal-column-one .portlet {border:1px solid #AAAAAA; width:206px;
border-radius:8px;
}
#portal-column-two .portletStaticText li {background: url('http://images.315ok.org/lonsunn/csg.png');background-repeat:no-repeat}
#portal-column-two .portletStaticText li.sprite-audio_service { background-position: 0 0;
}
#portal-column-two .portletStaticText li.sprite-cal { background-position: 0 -68px; 
 }
#portal-column-two .portletStaticText li.sprite-follow { background-position: 0 -136px; 
 }
#portal-column-two .portletStaticText li.sprite-group { background-position: 0 -204px; 
 }
#portal-column-two .portletStaticText li.sprite-lock { background-position: 0 -272px; 
 }
#portal-column-two .portletStaticText li.sprite-phone { background-position: 0 -340px; 
 }
#portal-column-two .portletStaticText li.sprite-star { background-position: 0 -408px;  
}
#portal-column-two .portletStaticText li.sprite-timer {
background-position: 0 -476px;  
}   

#portal-column-two .portlet-static-ritht_top {height:305px;}
#portal-column-two .portlet-static-contact {background:transparent url('http://images.315ok.org/lonsunn/portletbg.png') no-repeat 0 0;
height: 300px;
width: 210px;
border:0;
margin-top:25px;
}
.portlet .text {margin-left:25px;}
.portlet li .nomargin {margin-left:0;}
.css_image_bg {
background:transparent url('http://images.315ok.org/lonsunn/contactus_portlet_bg.png') no-repeat scroll 0 0;
width:149px;
height:194px;
margin-left:16px;

}
#portal-footer {
background:transparent url('http://images.315ok.org/lonsunn/footbeijing.png ') repeat-x scroll 0 0;
min-width:960px;
font-size:12pt;
height:140px;
padding:0;
}
dl.portlet-static-partner dd.portletItem {padding:0;}
#content a:link, dl.portlet a:link{border-bottom:0;}

#portal-footer .portlet-static-partner {height:40px;border:none;width:100%;}
#portal-footer .portletWrapper ul {display:block;margin-left:188px; padding-top:5px; }
#portal-footer .portlet-static-partner  li {display:inline;font-size:12pt;font-weight:bold;text-align:center;padding:0 8px;}
#portal-footer .portlet-static-partner  li.head {font-size:16pt;}
.portlet-static-partner .portletHeader {display:none;}
.portal-footer {
background:transparen;
text-align:center;
line-height: 2em;
margin: 1em 0;
padding:1em;   
}
.portal-footer span{padding-right:1em;}
#stat {text-align:center;position:relative;top:95px;display:block;}
#portal-globalnav #portaltab-index_html {padding-left:15px;}