#homepage,
#container  {margin-top:62px}
.portletItemDetails {float:right}
.roll-wrapper {display:inline;float:left;overflow:hidden;height:218px;width:100%}
.rollitem {line-height: 22px}
footer{margin-top:20px;}
