#content-header{margin-bottom:15px;}
#search_input{width:100%;}
div.mce-fullscreen{z-index:1031}
.plone-navbar .livesearch-results {color:#333333}
.navbar-toggle,.navbar-toggle .icon-bar {border: 1px solid #FFF;}
.no-padding{background-color:#CEE1F0}
.portletNavigationTree h4{text-align:center}
.btn-active,.portletNavigationTree h4 .tile{border-bottom:medium none;border-left:medium none;border-right:medium none;border-radius:4px 4px 0 0;font-size:14px;font-weight:700;margin-left:6px;margin-top:6px;padding-top:3px;padding-bottom:0;color:#337AB7}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.pagination {margin-left:auto;margin-right:auto;width:100%}

.center{float:none;margin-left:auto;margin-right:auto;display:block}
.kssattr-formname-register,.kssattr-formname-register_sponsor{margin:0 auto;max-width:330px;padding:15px}
.formControls{margin-top:12px}
.formControls input{margin-right:12px}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.ajaxsearch{margin-top:12px}
.template-index-html #portal-breadcrumbs {display:none}
.template-index-html .row{margin-bottom:6px}
.text-left td{text-align:left}
.table .nopadding{padding:0}

.title a{text-decoration:none}
.container-header{padding-right:0}

.navbar{margin-bottom:10px}
.navbar-right{margin-right:6px}
.navbar-nav>li>a{font-weight:700}
.breadcrumb{margin-bottom:0;font-size:12px;padding:1px 15px}
.navbar-brand {padding-top:9px}
img.right{float:right}
#content a.managePortletsFallback,.arrowDownAlternative,.documentDescription,.managePortletsLink,a.managePortletsFallback,dl.warning{display:none}
.portletItemDetails{float:right;margin-right:1em;color:#000}
.portlet{margin:0;border:1px solid #B4B4B4;border-top:none}
.portletItem .navTree a{border-bottom:none}
.portletNavigationTree h4 a.tile{margin:0 auto}
.portletTopRight{color:#fff;float:right;font-size:14px;font-weight:400;line-height:1.42857;margin-right:6px;margin-top:-26px}
.label{color:#787878}
.copyright{padding-top:12px}
.copyright a{color:#FFC40D}

#content p{text-indent:2em}

.portlet-static-footer{margin-top:12px}
.nav-tabs{border-bottom:none}
.navbar-inner{line-height:20px;font-size:14px;font-weight:700}
.page-header{border-bottom:none}
#profile td,#profile th{text-align:center}
#profile .text-left,#profile .title{text-align:left}
#_ideConac {float:left;margin-top:-90px;}
